:root {
  --color-bg-primary: #ffffff;
  --transparent: hsla(0, 0%, 0%, 0);
  --color-border: rgba(0, 150, 199, 0.3);
  --color-text-primary: #103783;
  --color-brand-bg: linear-gradient(135deg, #0096c7, #103783);
  --color-brand-text: #ffffff;
  --color-text: #4b5563;
}

body {
  width: 100%;
}

.nav-sep {
  height: 100%;
  width: 2px;
  background: #fff;
}

.navbar {
  position: fixed;
  top: 1em;
  width: 45%;
  height: 50px;
  padding: 0 1em;
  color: var(--color-text-primary);
  z-index: 100000;
  left: 50%;
  transform: translateX(-50%);
}

.navbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  backdrop-filter: blur(30px) saturate(120%) !important;
  -webkit-backdrop-filter: blur(30px) saturate(120%) !important;
  border: 1px solid var(--color-border);
  z-index: -1;
  border-radius: 2em;
}

.navbar .container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 2em;
  width: 100%;
  max-width: 1200px;
  padding: 0 !important;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  color: var(--color-text-primary);
  font-size: 24px;
  line-height: 48px;
}

.hamburger-icon i {
  position: relative;
  top: 1.25px;
}

#hamburger-toggle {
  display: none;
}

.navbar-logo {
  font-size: 17px;
  font-weight: 600;
}

.navbar-logo i {
  position: relative;
  font-size: 30px;
  top: 2px;
}

.navbar-logo img {
  height: 45px;
  width: auto;
}

.navbar-items ul {
  display: flex;
  gap: 0.25em;
  list-style: none;
}

.navbar-items ul li {
  line-height: 48px;
  font-size: 14px;
  font-weight: 500;
}

.navbar-items ul li a {
  padding: 1em;
  cursor: pointer;
}

.navbar-items .btn {
  line-height: 48px;
  margin-left: 1em;
}

.navbar-items .btn a {
  padding: 10px 20px !important;
  background: var(--color-brand-bg);
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  transition: none;
}

.navbar-items .btn a:hover {
  background: var(--color-brand-bg);
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .navbar {
    width: 100%;
    top: 0;
    border-radius: 0;
  }

  .navbar:before {
    border-radius: 0;
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    height: calc(100vh - 48px);
    padding-top: 48px;
    top: 48px;
    left: 100%;
    border-top: 1px solid var(--color-border);
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(30px) saturate(120%) !important;
    -webkit-backdrop-filter: blur(30px) saturate(120%) !important;
    text-align: center;
    transition: all 0.5s;
    z-index: 10000;
  }

  .navbar .container {
    justify-content: space-between;
  }

  .hamburger-icon {
    display: block;
  }

  #hamburger-toggle:checked ~ ul {
    left: 0%;
  }

  .navbar .container {
    padding: 0;
  }

  .navbar-items .btn {
    line-height: 48px;
    margin-left: 0px;
    margin-top: 30px;
  }
}
